body {
    background-color: #EEE9DA;
}

hr {
    border-style: dotted none none none;
    border-color: #BDCDD6;
    border-width: 5px;
    width: 5%;
}

h1 {
    color: #6096B4;
    font-family: "Times New Roman","Georgia","serif";
}

h3 {
    color: #6096B4;
    font-family: Helvetica, Arial, sans-serif;
}